.container {
  background-color: pink;
  border-radius: 0.5rem;
  height: 25%;
  padding: 2%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  height: 100%;
}

input {
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border: 0;
  padding: 0.5rem;
}
