.infoContainer {
  display: flex;
  margin: 1rem;
}

img {
  width: 5rem;
  height: 100%;
}

.title {
  cursor: pointer;
}

.textInfo {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 1rem;
}
